.header-container {
    /* display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: sans-serif;
    */
    background-color: white;
}

.title-name {
    font-family: sans-serif;
    width: 100px;
}

#my-name {
    color: black;
}