.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: rgb(207, 204, 204);
    ;
    padding: 15px;
}

.button {
    background-color: black;
    color: rgb(207, 204, 204);
    ;
    transition-duration: 0.4s;
    cursor: pointer;
    margin: none;
    border: none;
    padding: 8px 15px;
    text-align: center;
}

.button:hover {
    background-color: #b6b4b4;
    color: black;
    padding: 30px 20px;
}

.hr-header {
    margin-top: unset;
    margin-bottom: 1.5cm;
    border: none;
    height: 1px;
    background-color: rgb(94, 93, 93);
}