body {
    font-family: 'Noto Sans', sans-serif;
    color: rgb(207, 204, 204);
    background-color: rgb(26, 25, 25);
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: normal;
    font-family: "Roboto Mono", monospace;
}

.App {
    max-width: 1200px;
    margin: 0 auto;
}

.hr {
    background-color: white;
}