.project-description {
    text-align: center;
    /* padding: 10px;
    background-color: black; */
}

.shop-app {
    display: grid;
    grid-template-columns: 50% 50%;
}

.toDo-app {
    display: grid;
    grid-template-columns: 50% 50%;
}

.project.image {
    justify-self: center;
}

@media (max-width: 480px) {
    .shop-app,
    .toDo-app,
    .project.image {
        grid-template-columns: 100%;
    }
}

.app-heading {
    text-align: center;
}